$cyan:#7ae1f5;
$darkpurple:#2b009c;
$lightyellow:#fffde6;
$lightpurple:#413c4f;;
$lightblue:#cff7ff;
$dullblue:#edfbff;

@import "scss_partials/nav";
@import "scss_partials/footer";
@import "scss_partials/slideshow";
@import "scss_partials/form";
@import "scss_partials/testmonials";
@import "scss_partials/courses";


*{
    padding:0;
    margin:0;
}


.body{
    background-color: $lightblue;
    display:grid;
}

