.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.nav {
  width: 100%;
  height: 100px;
  background-color: #7ae1f5;
}

.nav_current {
  border: solid 6px #2b009c;
  padding: 10px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.nav_current_dull {
  border: solid 3px #413c4f;
  padding: 10px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.nav--mobile {
  display: none;
}

.nav_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

.nav_ul li {
  margin-top: 30px;
  font-size: 23px;
}

.nav_ul li .nav_link {
  text-decoration: none;
  color: #413c4f;
}

.nav_ul li .nav_link:hover {
  background-color: #2b009c;
  color: #fffde6;
}

@media only screen and (max-device-width: 568px) {
  .nav {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 75px;
  }
  .nav_ul {
    display: none;
  }
  .nav_current {
    border: dashed 6px #7ae1f5;
  }
  .nav_current_dull {
    border: dashed 6px #cff7ff;
  }
  .nav--mobile {
    width: 100vw;
    height: 90vh;
    background-color: #fffde6;
  }
  .nav_ul--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    list-style: none;
  }
  .nav_ul--mobile li {
    font-size: 26px;
  }
  .nav_ul--mobile li .nav_link {
    text-decoration: none;
    color: #413c4f;
  }
  .change {
    right: 0;
    -webkit-transition: ease-in-out .5s;
    transition: ease-in-out .5s;
  }
  .change .line--one {
    -webkit-transform: rotateZ(-405deg) translate(-11px, 9px);
            transform: rotateZ(-405deg) translate(-11px, 9px);
  }
  .change .line--two {
    opacity: 0%;
  }
  .change .line--three {
    -webkit-transform: rotateZ(405deg) translate(-10px, -8px);
            transform: rotateZ(405deg) translate(-10px, -8px);
  }
  .change .change .hamburger--container {
    background-color: transparent;
    -webkit-transition: ease-in-out 1s;
    transition: ease-in-out 1s;
  }
  .hamburger--container {
    width: 40px;
    height: 40px;
    top: 40px;
    right: 50px;
    padding: 15px;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .hamburger--line {
    background-color: #fffde6;
    width: 100%;
    height: 5px;
    margin-top: 5px;
  }
}

.footer {
  width: 100%;
  height: 100px;
  background-color: #7ae1f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__icon {
  height: 40px;
  width: 40px;
}

.slideshow {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 500px 50px;
      grid-template-rows: 500px 50px;
  -ms-grid-columns: 5% 90% 5%;
      grid-template-columns: 5% 90% 5%;
}

.arrow {
  color: #fffde6;
  background-color: #413c4f;
  font-size: 30px;
}

.bottom_slideshow {
  background-color: #413c4f;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom_slideshow .dots {
  background-image: radial-gradient(#fffde6 20%, #413c4f 20%);
  height: 20px;
  width: 20px;
}

.bottom_slideshow .dots_current {
  background-image: radial-gradient(#fffde6 40%, #413c4f 20%);
}

.image {
  height: 500px;
  width: 100%;
}

@media only screen and (max-device-width: 568px) {
  .slideshow {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 250px 30px;
        grid-template-rows: 250px 30px;
    -ms-grid-columns: 10% 80% 10%;
        grid-template-columns: 10% 80% 10%;
  }
  .image {
    height: 250px;
  }
}

.body {
  background-color: #cff7ff;
  display: -ms-grid;
  display: grid;
}

.container-sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-sign-up {
  background-color: #fffde6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 70px 50px 70px;
  border: solid 2px #7ae1f5;
  margin-top: 50px;
  margin-bottom: 80px;
}

.input-text {
  margin: 15px;
  color: #2b009c;
  font-size: 25px;
  height: 35px;
  border-radius: 10%;
}

.head {
  margin: 30px 0px 20px 0px;
  color: #2b009c;
  font-size: 65px;
}

.label {
  color: #2b009c;
  font-size: 25px;
}

.button {
  margin: 10px;
  color: #2b009c;
  font-size: 25px;
  background-color: #cff7ff;
  padding: 25px;
  -webkit-box-shadow: 2px 3px #2b009c;
          box-shadow: 2px 3px #2b009c;
  border-radius: 10%;
}

.message {
  resize: none;
  margin: 25px;
  color: #2b009c;
  font-size: 25px;
  height: 105px;
  border-radius: 10%;
}

@media only screen and (max-device-width: 568px) {
  .form-sign-up {
    background-color: #cff7ff;
    padding: 20px 0 20px 0;
    border: dashed 5px #7ae1f5;
  }
  .head {
    font-size: 45px;
  }
  .button {
    background-color: #fffde6;
    padding: 15px;
  }
  .message {
    margin: 10px;
    width: 250px;
    font-size: 15px;
  }
}

.container-three {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.flex-box-index {
  margin: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.descrip {
  margin-top: 10px;
}

.index-image {
  height: 100px;
  width: 85px;
}

.grid-test {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.flex-box-test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px;
}

.text-test {
  margin-left: 10px;
  font-style: italic;
}

.index-image--test {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .container-three {
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .flex-box-index {
    margin: 5px;
  }
}

@media only screen and (max-device-width: 568px) {
  .container-three {
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .flex-box-index {
    margin: 5px;
  }
  .grid-test {
    -ms-grid-rows: (25%)[4];
        grid-template-rows: repeat(4, 25%);
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .text-test {
    margin-left: 10px;
    font-style: italic;
    font-size: 15px;
  }
  .index-image--test {
    height: 100px;
    width: 100px;
  }
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
}

.bg-dullblue {
  background-color: #edfbff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  font-size: 20px;
  color: #413c4f;
  line-height: 35px;
  border: solid 2px #413c4f;
}

.course_image {
  height: 200px;
  width: 200px;
  border-top-left-radius: 45px;
  border-bottom-right-radius: 15px;
  border: solid 4px #2b009c;
  margin: 15px;
}

.course_link {
  text-decoration: none;
  color: #413c4f;
  border: solid 2px #2b009c;
  padding: 10px;
  background-color: #fffde6;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

@media only screen and (max-device-width: 568px) {
  .container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

* {
  padding: 0;
  margin: 0;
}

.body {
  background-color: #cff7ff;
  display: -ms-grid;
  display: grid;
}

.header {
  font-size: 40px;
  text-align: center;
  color: #2b009c;
  margin: 25px;
}

.bg-lightblue {
  background-color: #cff7ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  font-size: 20px;
  color: #413c4f;
  line-height: 35px;
  border: solid 2px #413c4f;
}

@media only screen and (max-device-width: 568px) {
  .header {
    font-size: 25px;
  }
}
/*# sourceMappingURL=styles.css.map */