
.container{
    display:grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(2,auto);
}
.bg-dullblue{
    background-color: $dullblue;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size:20px;
    color:$lightpurple;
    line-height: 35px;
    border: solid 2px $lightpurple;
}



.course_image{
    height: 200px;
    width: 200px;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 15px;
    border:solid 4px $darkpurple;
    margin: 15px;
}

.course_link{
    text-decoration: none;
    color:$lightpurple;
    border:solid 2px $darkpurple;
    padding:10px;
    background-color: $lightyellow;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

@media only screen and (max-device-width: 568px){
    .container{
        grid-template-columns: auto;
    }
}
