.container-three{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
}

.flex-box-index{
    margin: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descrip{
    margin-top:10px;
}

.index-image{
    height:100px;
    width:85px;
}

.grid-test{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.flex-box-test{
    display: flex;
    align-items: center;
    margin:15px;
}

.text-test{
    margin-left: 10px;
    font-style: italic;
}

.index-image--test{
    height:150px;
    width:150px;
    border-radius: 50%;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
     
.flex-box-index{
    margin: 25px;
}
}